@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    height: 4rem;
    background-color: purple;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    margin-left: .5rem;
    font-size: 20px;
    font-weight: 500;
}

nav ul li {
    list-style-type: none;
}

.gameContainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.line{
    transform: translate(10vw,10vw) rotate(0deg);
    background-color: black;
    height: 3px;
    width: 0vw;
    position: absolute;
    font-weight: 800;
    transition: width .5s ease-in-out;
}
.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(245, 211, 245);
}
.info{
    font-size: 25px;
    font-weight: 500;
}
.gameInfo {
    padding: 0 34px;
    font-family: 'Baloo 2', cursive;
}

.imgBox img {
    width: 0;
    transition: width .3s ease-in-out;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

.bl-0 {
    border-left: 0;
}

.br-0 {
    border-right: 0;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background-color: rgb(242, 187, 242);
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo 2', cursive;
    font-size: 15px;
    font-weight: bolder;
}
#volumeButton{
    position: absolute;
    font-size: 40px;
    top: 15vw;
    right: 15vw;
}
.gameInfoContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:560px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 3rem;
    }
}
@media (max-width:500px) {
    .container {
        grid-template-rows: repeat(3, 25vw);
        grid-template-columns: repeat(3, 25vw);
    }
    .gameInfo{
        font-size: 12px;    
    }
    .box{
        font-size: 24vw;
    }
}
@media (max-width:700px) {
    #volumeButton{
        top: 25vw;
    }
}
@media (max-width:500px) {
    .gameContainer{
        margin-top:6rem;
    }
    .gameInfoContainer{
        justify-content: space-evenly;
    }
    #volumeButton{
       top:-20vw;
       font-size: 30px;
    }
}
